body{
  background-color: #E5FF99;
  text-align:left;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #74B72E;
  border-width: 6.2px;
}
p
{
  font-style: italic;
}
